$main-font: "Source Sans Pro", sans-serif;

//Light-mode
$light-mode-background: rgb(250, 235, 215);

//Dark-mode
$dark-mode-text: rgb(255, 255, 255, 0.87);
$dark-mode-background: rgb(36, 36, 36);

$highlight-colour: rgb(85, 85, 218);