@import "variables";

body {
  font-family: $main-font;
  line-height: 1.5;
  font-weight: 400;

  // Mörkt läge färgsättning
  color-scheme: light dark;
  color: $dark-mode-text;
  background-color: $dark-mode-background;

  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

// Rubrik
h1 {
  font-size: 40px;
  text-align: center;
}

// Poddinfo - printas dynamiskt från .ts
.article {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;

  .text-div{
    display: inline-flex;
    flex-direction: column;
    margin-top: 0;
    margin-left: 1rem;
  }
  
  img {
    margin-top: .5rem;
  }
  
  h2 {
    font-size: 1.25rem;
    margin: 0;
  }
  
  p {
    font-size: 1rem;
    margin: 0;
  }
}

// Styling länk-text i mörkt läge
a {
  color: $dark-mode-text;
  cursor: pointer;

  &:active, &:hover {
    color: $highlight-colour;
  }
}

// Ljust läge styling
.lightmode {
  background-color: $light-mode-background;
  color: $dark-mode-background;

  a {
    color: $dark-mode-background;

    // Styling länk-text i ljust läge
    &:active, &:hover {
      color: $highlight-colour;
    }
  }
}
